#editorPane {
    width: calc(50% - 1px);
    height: calc(100% - 10px);
    position: absolute;
}

.CodeMirror {
    height: calc(100% - 150px) !important;
}

#outputPane {
    width: calc(50% - 1px);
    height: calc(100% - 10px);
    position: absolute;
    left: calc(50% + 1px);
}

#outputTabs .tab {
    font-size: 1em;
}

#outputContent {
    height: calc(100% - 30px);
}

#previewContent .buttons {
    width: calc(100% - 5px);
    position: absolute;
}

#previewContent .row {
    display: flex;
}

#previewContent .button {
    background-color: #262626;
    color: #EBEFE7;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
}

#previewContent .button:hover {
    background-color: #45443B;
}

#errorPane {
    margin-top: 5px;
    width: 100%;
    height: 145px;
}
